---
layout: page
title: Blog Posts
---
{% include JB/setup %}

<ul class="posts">
      {% for post in paginator.posts %}
      <li>
        <span class="post_title"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></span><br/>
        <span class="small">{{ post.date | date_to_string }}</span> &raquo; 
      </li>
      <div class="post_excerpt">
      {{ post.content | post.excerpt | truncatewords:75}}
      </div>
      <a href="{{ post.url }}">Read more...</a><br><br>
      {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}