body {
  padding: 10px;
  background-image: url("../img/bg.jpg");
}
.about-me {
  width: 720px;
  font-size: 16px;
  line-height: 2em;
  margin: 0 auto !important;
  padding: 40px !important;
}
.header-bar .title {
  font-family: 'Slabo 27px', serif;
  font-size: 28px;
  margin-top: 9px;
  line-height: 28px;
}
.post-container {
  margin-top: 50px !important;
}
.post-container .post-header,
.post-container .post-body {
  padding: 20px;
}
.post-container .post-body,
.post-container .post-body p {
  line-height: 1.75em;
}
