<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}semantic/css/semantic.min.css"></link>
        <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}semantic/css/style.css"></link>
        <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
        <script src="{{ ASSET_PATH }}semantic/js/semantic.min.js"></script>
        <script>
            $(document).on("ready", () => {
                $('.ui.dropdown').dropdown();
            });            
        </script>
    </head>
    <body>        
        {% include themes/semantic/header.html %}
        <div class="ui main left aligned container">
            {{ content }}
        </div>        
        {% include JB/analytics %}
    </body>
</html>   